img {
    width: 400px;
}

body {
    background-color: #f1f1f1;
    font-family:Helvetica, Arial, sans-serif;
    color:rgb(29, 29, 29)
}

h1 {
    text-decoration-line: underline;
}

.substeps {
    list-style-type: lower-alpha;
}

h1.home {
    text-align: center;
    font-size: 48px;
    text-emphasis: 1000;
}